body {
    background-color: #000000;
    color: #48FE16;
    border: solid #FFFFFF;
    padding: 5%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style-type: square;
}